
* { margin: 0; padding: 0;}
body { font: 16px/1.8 "Microsoft Yahei",verdana;}

/* 右侧导航 */
#fullPage-nav li { width: 90px; height: 21px; margin: 10px 0 0; vertical-align: middle;}
#fullPage-nav li a { float: right; width: 21px; height: 21px; color: #8F9DA4; text-decoration: none; text-align: right; background: url(../img/dot.png) 5px 5px no-repeat;}
#fullPage-nav li .active { background-position: 0 bottom;}
#fullPage-nav span { display: none;}
.bg11 { position: absolute; top: 22%; width: 400px; height: 450px; left:130%;background: url(../img/resume1.png) 50% 0 no-repeat; -webkit-transform:scale(0.5);transition: all 1s;opacity: 0;}
.bg12 { position: absolute; top: 55%; width: 100%; height: 192px;transform: scale(1.5);background: url(../img/resume.png) 50% 0 no-repeat; opacity: 0; transition: all 1.7s; bottom: 90px\0;}
.hgroup {position: absolute;  width: 450px;  height: 270px;  left: 35%;  top: 25%;  margin: 0 0 0 -277px;  text-indent: -9999px;  background: url(../img/resume2.png) no-repeat;  opacity: 0;  -webkit-transform: scale(0.5, 0.5);  transform: scale(0.5, 0.5);  transition: all 1s;  }
.bg21 { position: absolute; left: 50%; bottom: 15%; width: 819px; height: 250px; margin-left: -608px; margin-bottom: 40px; background: url(images/bg21.png) 0 0 no-repeat; transition: all 1s;  opacity: 0; margin-left: -1108px;}
.bg22 { position: absolute; left: 50%; bottom: 15%; width: 819px; height: 299px; margin-left: -280px; margin-bottom: 70px; background: url(images/bg22.png) right 0 no-repeat; transition: all 1s; opacity: 0; margin-left: 320px;}
.bg23 { position: absolute; left: 50%; bottom: 15%; width: 819px; height: 325px; margin-left: -409px; background: url(images/bg23.png) 50% 0 no-repeat; transition: all 1s;  bottom: -40%;}
.section strong { position: absolute; left: 50%; top: 15%; z-index: 10; width: 512px; height: 45px; margin-left: -256px; font-size: 40px; font-weight: 500; color: #748A9E; opacity: 0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;}
.section h3 { position: absolute; left: 50%; top: 15%; z-index: 10; width: 512px; height: 45px; margin-left: -256px; margin-top: 60px; text-indent: -9999px; background-repeat: no-repeat; opacity: 0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;}
.section { position: relative; overflow: hidden;}
.section .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.section .bg img { display: block; width: 100%; height: 100%;}
.section2 h3 { background-image: url(images/t2.png);}
.section2 strong{font-size: 40px;}
.section3 h3 { background-image: url(images/t3.png);}
.section4 h3 { background-image: url(images/t4.png);}
.section5 h3 { background-image: url(images/t5.png);}
.section5 h4 { margin-bottom: 12px; font-size: 23px; font-weight: 500;}
.section5 p { font-size: 14px;}
.section6 strong { width: 561px; margin-left: -280px;}
.section6 h3 { width: 561px; margin-left: -280px; background-image: url(images/t6.png);}
.section7 strong { width: 561px; margin-left: -280px;}
.section7 h3 { width: 561px; margin-left: -280px; background-image: url(images/t7.png);}
.section8 strong { width: 561px; margin-left: -280px;}
.section8 h3 { width: 561px; margin-left: -280px; background-image: url(images/t8.png);}
.section9 strong { width: 609px; margin-left: -304px;}
.section9 h3 { width: 609px; margin-left: -304px; background-image: url(images/t9.png);}
.section9 h3 span { position: absolute; left: -100px; top: -48px; width: 89px; height: 90px; background-image: url(images/yixin.png);}
.p1 { position: absolute; left: 50%; top: 15%; width: 670px; margin-left: -255px; margin-top: 120px; color: #727F8C; opacity: 0; transition: all 1s;}
.p1 span{display: block; font-size: 30px;line-height: 80px;}
.bg31 { position: absolute; left: 50%; bottom: 0; width: 892px; height: 472px; margin-left: -396px; margin-bottom: 80px; background-image: url(../img/pro.png); opacity: 0; transition: all 1s;}
.bg41 { position: absolute; bottom: -372px; width: 100%; height: 572px; background: url(../img/projectbg1.png) 50% 0 no-repeat;background-size: 100% 100%; transition: all 1s; opacity: 0;}
.txt6 p { margin-bottom: 17px; color: #5C7970;}
.bg74 img { position: absolute; left: 0; bottom: 0; width: 100%; height: 251px;}
.txt7 p { margin-bottom: 17px; color: #EAEFF2;}
.bg91 p { position: relative; left: 20px; margin-left: 40px; border-right: 1px solid #13AB86;}
.bg92 p { position: relative; left: 40px; margin-left: 30px;}
.bg93 p { position: relative; left: -20px; padding-left: 100px; border-left: 1px solid #13AB86;}
.copyright a, .copyright span { margin: 0 7px; font-size: 12px; color: #a0a0a0;}
.pro{  width: 320px;  height: 300px;  z-index: 10000; /* background: red; */  position: absolute;  left: 20%;  top: 35%;  line-height: 60px;  font-size: 20px;  margin-left: -100%;  opacity: 0;  transition: all 1s;  }
.pro span{  display: inline-block;  width: 120px;  text-align: center;  }
.pro-right{  left: 60%;  margin-left: 130%;  }
.project {  border: 1px solid rgba(176, 179, 181, 0.1);  box-shadow: 2px 5px 20px gray;  width: 250px;  height: 330px;  position: absolute;  text-align: center;  background: rgba(255, 255, 255, 0.52);  }
.project img{  width: 100%;  height: 40px;  }
.project h6{  font-size: 22px;  }
.project p{  font-size: 16px;  }
.project1-top a{  color: #748A9E;  }
.project1{  left: -100%;  top: 38%;  opacity: 0;  transition: all 1s;  }
.project2{  left: -100%;  top: 38%;  opacity: 0;  transition: all 1s;  }
.project3{  left: 130%;  top: 38%;  opacity: 0;  transition: all 1s;  }
.project4{  left: 130%;  top: 38%;  opacity: 0;  transition: all 1s;  }
.ins{  position: absolute;  font-size: 25px;  top: 35%;  left: 50%;  width: 1000px;  margin-left: -500px;  line-height: 70px;  opacity: 0;  transform: scale(0.2);  transition: all 1s;  }
/* CSS3过度及动画 */
.active strong, .active h3 { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .p1 { opacity: 1; transition-delay: 1.7s;}
.active .bg12 { bottom: -10%; opacity: 1; transition-delay: 0.7s;transform: scale(1); }
.active .hgroup { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .bg21 { opacity: 1; margin-left: -608px; transition-delay: 0.7s;}
.active .bg23 { bottom: 15%; transition-delay: 0.7s;}
.active .bg22 { margin-left: -280px; opacity: 1; transition-delay: 0.7s;}
.active .bg31, .active .bg32 { opacity: 0.1; transition-delay: 1s;}
.active .bg41 { bottom: 15%; transition-delay: 0.7s;opacity: 0.2;}
.active .project1{  left: 4%;  opacity: 1;  transition-delay:1s ;  }
.active .pro-right{  margin-left: -80px;  }
.active .pro{  margin-left: -100px;  opacity: 1;  transition-delay: 0.8s;  }
.active .project2{  left: 28%;  opacity: 1;  transition-delay:1s ;  }
.active .project3{  left: 52%;  opacity: 1;  transition-delay:1s ;  }
.active .project4{  left: 76%;  opacity: 1;  transition-delay:1s ;  }
.active .ins{  opacity: 1;  transform: scale(1);  transition-delay: 1s;  }
.active .bg11{left: 53%;  opacity: 1; -webkit-transform:scale(1); transition-delay: 0.5s;}

/* for lt ie 10 */
.ltie10 strong, .ltie10 h3 { opacity: 1; transform:scale(1, 1); transition-delay: 0.7s;}
.ltie10 .p1 { opacity: 1; transition-delay: 1.7s;}
.ltie10 .bg12 { bottom: 90px; opacity: 1; transition-delay: 0.7s; }
.ltie10 .hgroup { opacity: 1; transform:scale(1, 1); transition-delay: 0.7s;}
.ltie10 .bg21 { opacity: 1; margin-left: -608px; transition-delay: 0.7s;}
.ltie10 .bg23 { bottom: 15%; transition-delay: 0.7s;}
.ltie10 .bg22 { margin-left: -280px; opacity: 1; transition-delay: 0.7s;}
.ltie10 .bg31, .ltie10 .bg32 { opacity: 1; transition-delay: 1s;}
.ltie10 .bg41 { bottom: 15%; transition-delay: 0.7s;}
.ltie10 .project1{  left: 4%;  opacity: 1;  transition-delay:1s ;  }
.ltie10 .pro-right{  margin-left: -80px;  }
.ltie10 .pro{  margin-left: -100px;  opacity: 1;  transition-delay: 0.8s;  }
.ltie10 .project2{  left: 28%;  opacity: 1;  transition-delay:1s ;  }
.ltie10 .project3{  left: 52%;  opacity: 1;  transition-delay:1s ;  }
.ltie10 .project4{  left: 76%;  opacity: 1;  transition-delay:1s ;  }
.ltie10 .ins{  opacity: 1;  transform: scale(1);  transition-delay: 1s;  }
.ltie10 .bg11{left: 53%;  opacity: 1; -webkit-transform:scale(1); transition-delay: 0.5s;}
